/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}

/* Custom page header */
.header {
  padding-bottom: 15px;
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 25px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 1020px;
  }
  .featurette-heading {
    font-size: 50px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}

/* Supporting marketing content */
.marketing {
  margin: 18px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 15px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.featurette-divider {
  margin: 20px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: bold;
  line-height: 1;
  letter-spacing: -1px;
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 20px;
  }
}

.title-page {
  font-weight: bold;
  background-color: #fc7368;
  color: white;
  padding: 15px 0px;
  border-radius: 10px;
}

.dropdown:hover .dropdown-menu {
  margin-top: 0;
  display: block;
}

#bigmenu li .menu-nav {
  font-size: 20px;
  font-weight: bold;
}

#ibw-menu li a {
  display: inline-block;
  padding: 1em 1em;
  width: 100%;
  text-align: center;
  font-size: initial;
}

#ibw-menu li a:hover {
  background-color: #fc7368;
  color: #ffffff;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  #unit-menu {
    margin-left: auto;
    margin-right: auto;
    width: 262px;
    left: -5%;
    right: -5%;
  }
  .img-unit-content {
    position: absolute;
    background: rgba(255, 255, 255, 0.66);
    color: #443c3c;
    font-weight: bold;
    text-align: center;
    z-index: 1;
    padding: 3px;
    width: 111px !important;
    display: list-item;
    bottom: 0;
    font-size: 11px !important;
  }
  .unit-content {
    width: 120px !important;
    margin: 5px 5px !important;
    padding: 0px 0px !important;
    float: left;
  }
}

@media only screen and (min-device-width : 480px) and (max-device-width : 870px) {
  #unit-menu {
    left: -45%;
    right: -45%;
    margin-left: auto;
    margin-right: auto;
    width: 425px;
  }
}

@media only screen and (min-device-width: 870px) {
  #unit-menu {
    left: -117%;
    right: -123%;
    width: 845px;
    margin-left: auto;
    margin-right: auto;
  }
}

.img-unit-content {
  position: absolute;
  background: rgba(255, 255, 255, 0.66);
  color: #443c3c;
  font-weight: bold;
  text-align: center;
  z-index: 1;
  padding: 3px;
  width: 180px;
  display: list-item;
  bottom: 0;
}

.unit-content {
  width: 200px;
  margin: 10px 5px;
  padding: 0px 10px;
  float: left;
}

.img-thumb {
  width: 100%;
}

.bottom-content{
  margin-top: 0px;
  margin-bottom: 0px;
  background-color: #fc7368;
  color: #ffffff;
  padding: 6px 12px;
  width: 100%;
  font-weight: 400;
  font-size: 19px;
  font-stretch: condensed;
}

.img-content {
  background-color: rgba(255, 255, 255, 0.55);
  width: 138px;
  height: 138px;
  margin: 2px;
  position: absolute;
  right: 15px;
  text-align: left;
  font-size: 12px;
  padding: 5px 8px;
  top: 0;
  overflow: auto;
}

.unit-sidebar-header {
  background-color: rgb(252, 115, 104);
  padding: 1px 15px;
  color: white;
  /* border-radius: 0px 10px 10px 0px; */
  margin: auto;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 610px) {
  .unit-sidebar-header h4 {
    font-size: 14px;
  }
}

.unit-sidebar-list {
  font-size: 15px;
  padding: 5px 10px;
  font-weight: 600;
  border-right: 1px #e5e5e5 solid;
  border-left: 1px #e5e5e5 solid;
  border-bottom: 1px #e5e5e5 solid;
  margin-bottom: 15px;
}

.unit-sidebar-list ul {
  padding: 0px;
}

.unit-sidebar-list ul li {
  list-style-type: none;
  padding: 7px 10px;
  border-bottom: 1px #e5e5e5 solid;
}

.unit-title-page {
  font-weight: 600;
  font-size: 28px;
  border-left: 10px #fc7368 solid;
  padding-left: 10px;
}

.unit-content-page {
  font-size: 15px;
  padding: 5px 20px;
}

.unit-content-page h4 {
  font-weight: 600;
  margin: 1px;
}

.unit-footer-page {
  font-style: italic;
  color: #fc7368;
  padding-left: 20px;
}

.management-desc {
  display: inline-block;
  border-bottom: 1px #e5e5e5 solid;
  margin: 4px 0px;
  padding: 7px 0px;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 530px) {
  .management-desc img {
    width: 50% !important;
    margin: 10px auto;
    border-radius: 10px;
  }
  .management-desc {
    text-align: center;
  }
}

@media only screen and (min-device-width : 530px) and (max-device-width : 630px) {
  .management-desc img {
    width: 40% !important;
    margin: 10px auto;
    border-radius: 10px;
  }
  .management-desc {
    text-align: center;
  }
}

@media only screen and (min-device-width : 630px) and (max-device-width : 767px) {
  .management-desc img {
    width: 30% !important;
    margin: 10px auto;
    border-radius: 10px;
  }
  .management-desc {
    text-align: center;
  }
}

.management-desc img {
  border-radius: 10px;
}

.img-title-ibw {
  padding: 0px 0px 15px 0px;
}